hr.star-light:after, hr.star-dark:after {
  position: relative;
  top: -0.8em;
  display: inline-block;
  padding: 0 .25em;
  content: none;
  font-family: FontAwesome;
  font-size: 2em;
}
.logo{
  width:45px;
  overflow: hidden;
}
.profile {
  /*border: 3px solid black;*/
  border: 1px solid grey;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}
#education{
  letter-spacing: .6px;
}
#about{
  letter-spacing: .6px;
}
